<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.springboot.mapper.MyStudentMapper">
    <resultMap id="studentMap" type="com.wq.springboot.entity.MyStudent">
        <id property="id" column="id"/>
        <result property="student_id" column="student_id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday" javaType="java.sql.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAllByOrder" resultMap="studentMap" parameterType="string">
        SELECT
          *
        FROM
          student
        ORDER BY
          ${orderBy}
    </select>

    <select id="getById" resultMap="studentMap">
        SELECT
          *
        FROM
          student
        WHERE
          id=#{id}
    </select>

    <select id="getAllName" resultType="string">
        SELECT
          name
        FROM
          student
    </select>
</mapper>
