<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.wq.springboot.mapper.UserMapper">-->
    <!--&lt;!&ndash; 注意：抽离userMap &ndash;&gt;-->
    <!--<resultMap id="userMap" type="com.wq.springboot.entity.AcctUser">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="nick_name" column="nick_name"/>-->
        <!--<result property="telephone" column="telephone"/>-->
        <!--<result property="register_time" column="register_time"/>-->
        <!--&lt;!&ndash; 一对多 &ndash;&gt;-->
        <!--<collection property="acctUserRoles" ofType="com.wq.springboot.entity.AcctUserRole">-->
            <!--<result property="user_id" column="user_id"/>-->
            <!--<result property="role_id" column="role_id"/>-->
            <!--&lt;!&ndash; 一对一 &ndash;&gt;-->
            <!--<collection property="acctRole" ofType="com.wq.springboot.entity.AcctRole">-->
                <!--<id property="id" column="role_id"/>-->
                <!--<result property="name" column="role_name"/>-->

                <!--&lt;!&ndash; 一对多 &ndash;&gt;-->
                <!--<collection property="acctRoleAuthorities" ofType="com.wq.springboot.entity.AcctRoleAuthority">-->
                    <!--<result property="role_id" column="role_id"/>-->
                    <!--<result property="authority_id" column="authority_id"/>-->
                    <!--&lt;!&ndash; 一对一 &ndash;&gt;-->
                    <!--<collection property="acctAuthority" ofType="com.wq.springboot.entity.AcctAuthority">-->
                        <!--<id property="id" column="authority_id"/>-->
                        <!--<result property="name" column="authority_name"/>-->
                    <!--</collection>-->
                <!--</collection>-->
            <!--</collection>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="findAll" resultMap="userMap">-->
        <!--SELECT-->
          <!--u.*,ur.user_id,ur.role_id,r.name role_name,ra.authority_id,a.name authority_name-->
        <!--FROM-->
          <!--acct_user u-->
        <!--LEFT JOIN-->
          <!--acct_user_role ur-->
        <!--ON-->
          <!--u.id=ur.user_id-->
        <!--LEFT JOIN-->
          <!--acct_role r-->
        <!--ON-->
          <!--ur.role_id=r.id-->
        <!--LEFT JOIN-->
          <!--acct_role_authority ra-->
        <!--ON-->
          <!--r.id=ra.role_id-->
        <!--LEFT JOIN-->
          <!--acct_authority a-->
        <!--ON-->
          <!--ra.authority_id=a.id-->
    <!--</select>-->
    <!--<select id="get" resultMap="userMap" parameterType="string">-->
        <!--SELECT-->
          <!--u.*,ur.user_id,ur.role_id,r.name role_name,ra.authority_id,a.name authority_name-->
        <!--FROM-->
          <!--acct_user u-->
        <!--LEFT JOIN-->
          <!--acct_user_role ur-->
        <!--ON-->
          <!--u.id=ur.user_id-->
        <!--LEFT JOIN-->
          <!--acct_role r-->
        <!--ON-->
          <!--ur.role_id=r.id-->
        <!--LEFT JOIN-->
          <!--acct_role_authority ra-->
        <!--ON-->
          <!--r.id=ra.role_id-->
        <!--LEFT JOIN-->
          <!--acct_authority a-->
        <!--ON-->
          <!--ra.authority_id=a.id-->
        <!--WHERE-->
          <!--u.id=#{id,jdbcType=VARCHAR}-->
    <!--</select>-->
<!--</mapper>-->
<mapper namespace="com.wq.springboot.mapper.MyUserMapper">
    <!-- 注意：抽离userMap -->
    <resultMap id="userMap" type="com.wq.springboot.entity.AcctUser">
        <id property="id" column="id"/>
        <result property="nick_name" column="nick_name"/>
        <result property="telephone" column="telephone"/>
        <result property="register_time" column="register_time"/>
        <!-- 一对多 -->
        <collection property="acctUserRoles" ofType="com.wq.springboot.entity.AcctUserRole">
            <result property="user_id" column="user_id"/>
            <result property="role_id" column="role_id"/>
            <!-- 一对一 -->
            <collection property="acctRole" ofType="com.wq.springboot.entity.AcctRole">
                <id property="id" column="role_id"/>
                <result property="name" column="role_name"/>

                <!-- 一对多 -->
                <collection property="acctRoleAuthorities" ofType="com.wq.springboot.entity.AcctRoleAuthority">
                    <result property="role_id" column="role_id"/>
                    <result property="authority_id" column="authority_id"/>
                    <!-- 一对一 -->
                    <collection property="acctAuthority" ofType="com.wq.springboot.entity.AcctAuthority">
                        <id property="id" column="authority_id"/>
                        <result property="name" column="authority_name"/>
                    </collection>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <select id="getAll" resultMap="userMap">
        SELECT
          u.*,ur.user_id,ur.role_id,r.name role_name,ra.authority_id,a.name authority_name
        FROM
          acct_user u
        LEFT JOIN
          acct_user_role ur
        ON
          u.id=ur.user_id
        LEFT JOIN
          acct_role r
        ON
          ur.role_id=r.id
        LEFT JOIN
          acct_role_authority ra
        ON
          r.id=ra.role_id
        LEFT JOIN
          acct_authority a
        ON
          ra.authority_id=a.id
    </select>
    <select id="getById" resultMap="userMap" parameterType="string">
        SELECT
          u.*,ur.user_id,ur.role_id,r.name role_name,ra.authority_id,a.name authority_name
        FROM
          acct_user u
        LEFT JOIN
          acct_user_role ur
        ON
          u.id=ur.user_id
        LEFT JOIN
          acct_role r
        ON
          ur.role_id=r.id
        LEFT JOIN
          acct_role_authority ra
        ON
          r.id=ra.role_id
        LEFT JOIN
          acct_authority a
        ON
          ra.authority_id=a.id
        WHERE
          u.id=#{id,jdbcType=VARCHAR}
    </select>
</mapper>
